.fa-terminal{
  color : white;
}

.name {
  color : white;
  float : left;
  display : inline;
  position:absolute;
  padding-left: 20px;
}

.nav-link a{
  color : white;
  float : right;
  display : inline;
  padding : .5rem 1rem;
}

.project-title{
  text-align: center;
}
